/ START .news-item
%a{:href=>"news-article.html", :title=>"Summary of news article", :class=>"#{featured ? 'news-item featured' : 'news-item'}"}
  %article
    %header
      %h2
        = lorem.words (3 + rand(5))
      %time{:datetime=>"2009-11-13T20:00Z"}
        3 hours ago
    %figure{:class=>"#{featured ? '' : 'col-3'}"}
      
      - if featured
        - img_placehold 640, 320
      - else
        - img_placehold 230, 150
      %figcaption
        = lorem.sentence
    %section{:class=>"#{featured ? 'copy' : 'copy col-5'}"}
      %p
        = lorem.sentences (8 + rand(5))
      %footer
        %span.read-more
          Read more &rarr;
/ END .news-item