!!! 5

- custom_html_tag 'en-GB'

= partial('includes/structure/html-header')

%body
  %article#main-container.container
    = partial('includes/structure/site-header')
    %section.main{:id=>data.page.tag_id, :class=>data.page.tag_class}
      %header#page-header
        = yield_content :page_header
      %article#content
        = yield_content :content
      %section#sidebar
        = yield_content :sidebar
    = partial('includes/structure/site-footer')
  = partial('includes/structure/javascripts')
