!!! 5

- custom_html_tag 'en-GB'

= partial('includes/structure/html-header')

%body  
  .container
    = partial('includes/structure/header')
    .main{:id=>data.page.tag_id}
      = yield
    = partial('includes/structure/footer')
    = partial('includes/structure/javascripts')
