!!! 5

- custom_html_tag 'en-GB'

= partial('includes/structure/html-header')

%body
  %form{:id => "mainform", :action => "/", :method => "post"}
    .wrapper
      = partial('includes/structure/header')
      .container{:id=>data.page.tag_id}
        = yield
      = partial('includes/structure/footer')
      = partial('includes/structure/javascripts')
