!!! 5

- custom_html_tag 'en-GB'

= partial('includes/structure/html-header')

%body
  .container
    = partial('includes/structure/header')
    .main{:id=>data.page.tag_id, :class=>data.page.tag_class}

      %header#page-header
        = yield_content :page_header

      %section#sidebar
        = yield_content :sidebar

      %section#content
        = yield_content :content

    = partial('includes/structure/footer')
  = partial('includes/structure/javascripts')
