%article.post
  %header
    %h2
      = lorem.words (3 + rand(5))
    .meta
      .vcard
        by
        %address.author
          %a{:title=>"Posts by John Doe", :href=>"#"}
            John Doe
        on
        %time{:datetime=>"2009-11-04", :class=>"published updated"}
          November 4th, 2009
  %figure
    - img_placehold 726, (726/16)*9
    %figcaption
      fig.1
  %h2
    = lorem.words (3 + rand(5))
  - (1 + rand(1)).times do
    %p
      = lorem.sentences (2 + rand(8))

  %footer
    %section.categories
      %h4
        Featured in:
      %ul
        - num = (2 + rand(2))
        - num.times do |i|
          %li
            "#{num}"
            %a{:title=>"Category",:href=>"#"}
              = lorem.words 1+(rand(1))
            - if i <= num -1
              - |
    %section.tags
      %h4
        Tagged:
      %ul
        - (2 + rand(2)).times do
          %li
            %a{:title=>"Tag",:href=>"#"}
              = lorem.words (1)
    = partial('includes/modules/social/social-share')
