---
  page_title: About Us
  tag_id: about-us
  hide_from_nav: true
---

- content_for :page_header do
  %h1
    About Us
- content_for :content do
  - 3.times do
    %p
      = lorem.paragraph
  = partial('includes/modules/social/flickr-photostream')

- content_for :sidebar do
  = partial('includes/modules/widgets/contact-widget')
  = partial('includes/modules/cta/generic-cta')
  = partial('includes/modules/social/flickr-photostream-widget')
