---
  page_title: About Us
  tag_id: about-us
---

%header#page-header
  %h1
    About Us
%section#content
  - 3.times do
    %p
      = lorem.paragraph
  = partial('includes/modules/social/flickr-photostream')

%section#sidebar
  = partial('includes/modules/widgets/contact-widget')
  = partial('includes/modules/cta/generic-cta')
  = partial('includes/modules/social/flickr-photostream-widget')
