---
  page_title: About Us
  tag_id: about-us
---
  
%header#page-header
  %h1
    About Us
#content
  - 3.times do
    %p
      = lorem.paragraph
  
  = partial('includes/modules/social/flickr-photostream')
      
#sidebar.last
  = partial('includes/modules/widgets/contact-widget')
  = partial('includes/modules/cta/generic-cta')
  = partial('includes/modules/social/flickr-photostream-widget')
    