---
  page_title: Blog
  tag_id: blog
---

- content_for :page_header do
  %h1
    Blog

- content_for :content do
  = partial('includes/modules/blog/blog-article')
  %section#relevant-posts
    %h2
      You might also be interested in:
    .row
      - (3).times do
        = partial('includes/modules/blog/blog-post-CTA')

- content_for :sidebar do
  = partial('includes/modules/blog/blog-subscribe-widget')
  = partial('includes/modules/search/mini-search', :locals=>{:name=>"search_posts", :title=>"Search Posts", :widget=>true})
  = partial('includes/modules/blog/blog-categories-widget')
  = partial('includes/modules/blog/blog-archives-widget')
