---
  page_title: Events
  tag_id: events
---

%article
  #content.col-8
    %header#page-header
      %h1
        Events
  
    = partial('includes/modules/events/events-listing')
    = partial('includes/modules/events/events-listing', :locals=>{:title=>"Past Events"})
    
    = partial('includes/modules/pagination')
  #sidebar.col-4.last
    = partial('includes/modules/news/news-widget')
    = partial('includes/modules/cta/ctas-widget', :locals=>{:count=>2})
    