---
  layout: one-col
  page_title: Frequently Asked Questions
  nav_title: FAQs
  tag_id: faq
---

- content_for :page_header do
  %h1 Frequently Asked Questions

- content_for :content do
  .search
    %h3
      Search by keyword
    = partial('includes/modules/search/mini-search', :locals=>{:name=>"search"})
  %nav.category-quicklinks
    %h3 Category quick links
    %ul
    - 4.times do |i|
      %li
        %a{:href=>"#category-#{i}", :title=>"Category #{i} Title"} Category #{i} Title

  - 4.times do |i|
    %section.category{:id=>"category-#{i}"}
      %h2 Category #{i} Title
      %ul
        - 5.times do
          %li
            %h3
              %span
                Q:
              = lorem.words (3+rand(6))
            %span
              A:
            %p
              = lorem.sentences 4
      .to-top
        %a{:href=>"#", :title=>"back to top"}
          Back to top &uarr;