---
  page_title: Garndiffaith Community Energy
  body_id: home
---


%header
  = partial('includes/modules/carousel')

.col-8
  %section#our-projects
    %h2
      Our Projects
    #map
      - img_placehold 642, 480
    %a{:href=>"projects"}
      Full project list &rarr;
      
  %section#ctas      
    = partial('includes/modules/cta/cta-list', :locals=>{:count=>2})
    
.col-4#sidebar.last
  = partial('includes/modules/news/news-widget')
  = partial('includes/modules/events-widget')
  = partial('includes/modules/social/flickr-photostream')
  
