---
  page_title: Garndiffaith Community Energy
  tag_id: home
---


%header#page-header
  = partial('includes/modules/carousel')

#content.col-8
  %section#our-projects
    %h2
      Our Projects
    #map
      - img_placehold 642, 480
    %a{:href=>"projects"}
      Full project list &rarr;
      
  %section#ctas      
    = partial('includes/modules/cta/cta-list', :locals=>{:count=>2})
    
#sidebar.col-4.last
  = partial('includes/modules/news/news-widget')
  = partial('includes/modules/events/events-widget')
  = partial('includes/modules/social/flickr-photostream')
  
