---
  page_title: News Listing
  tag_id: news-list
---

%header#page-header
  %h1
    Latest News
  %p
    Some sort of by-line here. 
    = lorem.words 24
.row
  #content.span9
    = partial('includes/modules/news/news-listing', :locals=>{:include_featured=>true})
    = partial('includes/modules/pagination')
  #sidebar.span3.last
    = partial('includes/modules/events/events-widget')
    = partial('includes/modules/news/news-widget')