---
  page_title: News Item
  body_id: news-item
---

%header#page-header
  %h1
    = lorem.words (3 + rand(5))
  %time{:datetime=>"2012-04-13"}
    13th April 2012
.row    
  #content
    %figure
      - img_placehold 660, (660/16)*9
      %figcaption
        = lorem.sentence
    = partial("includes/modules/random-content")
    
    %a.button{:href=>"/news.html"}
      &larr; Back
    %footer#news-footer
      = partial("includes/modules/social/social-share")
      = partial("includes/modules/social/facebook-stats")

  #sidebar.last
    = partial('includes/modules/events/events-widget')
    = partial('includes/modules/news/news-widget')
