---
  page_title: Visual language
  tag_id: visual-language 
---

- content_for :content do
  
  / = partial('includes/modules/cta/cta-list', :locals=>{:count=>6})
  / = partial('includes/modules/widgets/contact-widget')
  / = partial('includes/modules/cta/generic-cta')
  / = partial('includes/modules/blog/blog-subscribe-widget')
  / = partial('includes/modules/search/mini-search', :locals=>{:name=>"search_posts", :title=>"Search Posts", :widget=>true})
  / = partial('includes/modules/blog/blog-categories-widget')
  / = partial('includes/modules/blog/blog-archives-widget')
  / = partial('includes/modules/social/flickr-photostream-widget')
  / = partial('includes/modules/case-study')


  = partial('includes/modules/carousel')
  = partial('includes/modules/case-study')
  = partial('includes/modules/contact-form')
  //= partial('includes/modules/gallery')
  = partial('includes/modules/login-form')
  = partial('includes/modules/pagination')
  = partial('includes/modules/password-reset')
  = partial('includes/modules/video') 
  = partial('includes/modules/blog/blog-archives-widget')
  = partial('includes/modules/blog/blog-article-snippet')
  = partial('includes/modules/blog/blog-categories-widget')
  = partial('includes/modules/blog/blog-post-CTA')
  = partial('includes/modules/blog/blog-subscribe-widget')
  = partial('includes/modules/cta/cta-list')
  = partial('includes/modules/cta/cta-simple')
  = partial('includes/modules/cta/cta-subscribe-widget')
  = partial('includes/modules/cta/cta-widget')
  / = partial('includes/modules/cta/ctas-widget')
  = partial('includes/modules/cta/generic-cta')
  / = partial('includes/modules/events/event-item')
  = partial('includes/modules/events/events-listing')
  = partial('includes/modules/events/events-widget')
  = partial('includes/modules/nav/breadcrumbs')
  = partial('includes/modules/nav/nav')
  = partial('includes/modules/nav/pagination')
  = partial('includes/modules/nav/secondary-nav')
  / = partial('includes/modules/news/news-item')
  = partial('includes/modules/news/news-listing')
  = partial('includes/modules/news/news-widget')
  / = partial('includes/modules/search/mini-search')
  = partial('includes/modules/search/search-filter')
  = partial('includes/modules/search/search-item')
  = partial('includes/modules/search/search-media-type')
  = partial('includes/modules/search/site-search')
  = partial('includes/modules/social/facebook-stats')
  = partial('includes/modules/social/facebook')
  / = partial('includes/modules/social/flickr-photostream-widget')
  / = partial('includes/modules/social/flickr-photostream')
  = partial('includes/modules/social/social-share')
  = partial('includes/modules/social/twitter')
  = partial('includes/modules/widgets/contact-widget')